<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}


<div class=" bg-gray-50 border border-gray-200 rounded-2xl py-16">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="order-2 px-4">
            <div class="flex flex-col justify-start">
               <h1>{{ resume.full_name }}</h1>
                
                <br>
                <samp>
                    {{ resume.summary }}
                </samp>
                <div class="">

                </div>
            </div>
        </div>
        <div class="order-1 ">
            <div class="flex justify-center ">
                {% if resume.self_image %}
                <img class="h-64 w-64 object-cover rounded-full" src="{{ resume.self_image.url }}" alt="Modern building architecture">
                {% endif %}
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}
